*/tmp
*/temp
*.log
*.db
config.ini
__debug_bin*

# Ignore Intellij Idea project files
*.iml
*.ipr
.idea
atlassian-ide-plugin.xml
out/

# Ignore Eclipse project files
.settings
.project
.classpath

# Ignore MacOSX files
.DS_Store

# Ignore Netbeans project files
nbproject/
nbbuild/
/bin/

# Microsoft Visual Studio Code
.vscode/
*.code-workspace

# build temp folders
rpmbuild/
debian/

# ignore custom build folder
src/bin/

# ignore gradle file
.gradle